/*Importanto estilo de fuente*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Variables Globales CSS colores*/
:root{
    /*Colores tomados del modelo figma*/
    --Blue:#0A3871;
    --Gray:#495057;
    --White:#FFFFFF;
    --Greey: #C5C5C5;
    --Dark-Blue:#0A3871;
    --RGBA:rgba(0,0,0,0.08);
    --White-Gray:#D8DFE8;
    --Dark-Gray:#343A40;
}
/*Selector universal*/
*{
    /*Elimina margen y rellenos predeterminados*/
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100%;/*Asegura que ocupe toda la altura disponible*/
}
img{
    max-width: 100%;/*Hace que las imágenes sean responsivas*/
}
/*---Encabezado---*/
header{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 40px 0px 0px 40px;
    gap: 30px;
}
/*---Principal---*/
/*Selecciona el elemento main*/
main{
    display: flex;/*Permite que los elementos secundarios se alineen*/
    flex-direction: row;/*Organiza los elementos en una fila horizontal*/
    background: url(../imagenes/portada.png)no-repeat;
}
.sectionUno{
    width: 50%;/*Establece el ancho de la sección*/
    margin: 108px 0px 0px 100px;
    background: transparent;
}
/*---text-area---*/
.encriptar{
    width: 600px;/*Establece el ancho del elemento text-area*/
    height: 260px;/*Establece el alto del elemento text-area*/
    font-weight: 400;/* Define el grosor del texto*/
    font-size: 32px;/* Establece el tamaño de la fuente*/
    line-height: 38px;/* Define el espacio vertical entre líneas de texto */
    outline: none;/* Elimina el contorno que aparece por defecto al hacer clic en el <textarea> */
    border: 1px solid var(--Blue);
    border-radius: 15px;
    resize: none;/* Impide que el usuario pueda redimensionar el <textarea> */
}
.encriptar::placeholder,:focus{
    color: var(--Blue);
}
/*---Elementos dentro del <div> img class "icono-aviso y p class "texto-aviso"*/
.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    gap: 4px;
    position: absolute;
    top: 400px;
}
.texto-aviso{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Gray);
}
/*Elementos dentro del <div> botones encriptar y desencriptar*/
.encriptador-botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    gap: 4px;
    position: absolute;
    top: 450px;
}
.btn-encriptar{
    width: 298px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--White);
    background: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px --5px var(--RGBA);
}
/*Creando efecto visual al botón*/
.btn-encriptar:active{
    /*box-shadow aplica sombras internas al dar clic en el botón*/
    box-shadow: inset 2px 2px 5px var(--White),
    inset -3px -4px 8px var(--Blue);
    color: var(--White);
}
.btn-desencriptar{
    width: 298px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-Blue);
    background: var(--White-Gray);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px --5px var(--RGBA);
}
.btn-copiar:active,
.btn-desencriptar:active{
    box-shadow: inset 2px 2px 5px var(--Dark-Blue),
    inset -3px -4px 8px var(--White);
    color: var(--Dark-Blue);
}
.sectionDos{
    width: 410px;/*Ajusta el ancho del elemento*/
    height: 510px;/*Ajusta el alto del elemento*/
    background: var(--Greey);
    box-shadow: 10px 24px 32px 2px var(--Gray);
    position: relative;
    margin-top: 50px;
    border-radius: 32px;
    text-align: center;
}
.tarjeta{
    display: contents;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    background: var(--Greey);
}
.texto-uno{
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--Dark-Gray);
}
.texto-dos{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: var(--Gray);
}
.tarjeta-mensaje{
    width: 366px;/*Ajusta el ancho del elemento*/
    height: 315px;/*Ajusta el alto del elemento*/
    position: absolute;
    padding: 5%;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--Greey);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}
.tarjeta-boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn-copiar{
    width: 173px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-Blue);
    background: var(--White-Gray);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px --5px var(--RGBA);

}
.btn-copiar:hover,
.btn-encriptar:hover,
.btn-desencriptar:hover{
    transform: scale(0.95);/*Reduce a escala los botones al pasar el cursor sobre cada uno de ellos*/
}
